<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <div>
  <p>Hello World</p>
  <table>
    <tbody>
  <tr *ngFor="let item of products">
    <td>{{item.productId}}  {{item.name}}</td>
  </tr>
</tbody>
</table>
</div> -->
<div class="container">
  <div class="card">
    <div class="card-header">
      <h4>Parent Component</h4>
    </div>
    <div>
      Pass-Data: <input type="text" class="form-control" [(ngModel)]="parentData" />
      <input type="button" value="Send" (click)="TransferData()" class="btn btn-primary"/>

    </div>
  </div>
</div>
<app-leaves [parentData]="parentData"></app-leaves>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
